<div class="col-md-4 d-flex align-items-center">
    <a href="/"> 
<img src="/lib/image/logo.png" alt="logo" class="img-fluid" width="70%" />
    </a>
</div>

<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
    <li class="ms-3"><a 
    href="https://www.facebook.com/Mr.MinhxThanh"><i class="fab fa-2x fa-facebook"></i></a></li>
    <li class="ms-3"><a
    href="https://www.facebook.com/Mr.MinhxThanh"><i class="fab fa-2x fa-instagram"></i></a></li>
    <li class="ms-3"><a 
    href="https://t.me/MinhxThanh"><i class="fab fa-2x fa-telegram"></i></a></li>
    <li class="ms-3"><a
    href="https://twitter.com/Thnh92475449"><i class="fab fa-2x fa-twitter-square"></i></a></li>
</ul>